.basic-duration {
  background-color: #e3ffdc;
}

.x-panel-header {
	background-image:none;
	background-color: #dfe8f6;
	border-color:#99BBE8;
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding: 5px;
}

.hour-field {
  padding: 2px 0 2px 4px;
  font-size : 1.1em;
}

.full-hour {
  background : #cceecc